.notfound{
    color: #f8f1f1;
    color: #11698e;
    color: #19456b;
    color: #16c79a
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    color: #3175b0;
    /*text-transform: uppercase;*/
    font-weight: 300;
}

.text-header h1{
    text-transform: none;
}

.container{
    width: 90%;
    max-width: 1150px;
    margin: auto;
    overflow: hidden;
}

.container-another{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;
}

h1{
    font-size: 50px;
}

header{
    height: 100vh;
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgb(27 180 222 / 76%), rgb(0 0 71 / 75%)), url(../images/principal.jpg);
    background: linear-gradient(to right, rgb(27 180 222 / 76%), rgb(0 0 71 / 75%)), url(../images/principal.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

nav{
    width: 100%;
    height: 80px;
    background: #fff;
    border: 1px solid transparent;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    z-index: 100;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .logo{
    height: 80px;
    vertical-align: top;
}

.logo img {
    height: 100%;
}

.links-header{
    font-weight: 300;
}

.links-header a{
    color:#19456b;
    text-decoration: none;
    margin-left:20px;
}

.button-menu{
    display: none;
}

.container-header{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15%;
}

.container-header > img{
    width: 60%;
    animation: ease-in animationimg 1s;
}

@keyframes animationimg{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

.text-header{
    margin: 0 0 0 30px;
    /*animation: ease-in animationimg 1s;*/
}

.text-header > h1{
    color: #fff;
    font-weight: bold;
    font-size: 65px;
    margin-bottom: 30px;
    text-shadow: 2px 5px #19456b;
}

.text-header > p{
    color: #fff;
}

.text-header > a{
    background: #16c79a ;
    display: inline-block;
    width: 170px;
    margin: 28px 0 0 0;
    text-align: center;
    color: #fff;
    padding: 12px;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 5px;
    box-shadow:  0 8px 32px rgba(0, 0, 0, 0.3);
}


.about-us{
    background-color: #f2f2f2;
}

.container-articles{
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: space-evenly;
}

.article{
    width: 30%;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 20px;
    transition: 0.5;
    background: #FFF;
}

.article:hover{
    box-shadow:  0 8px 32px rgba(0, 0, 0, 0.3);
}

.article > img{
    width: 100%;
    height: 150px;
    margin: auto;
}

.article > h3{
    font-size: 25px;
    margin-top: 30px;
    
}

.article > p{
    font-weight: 100;
    color: #19456b;
    margin-top: 15px;
    padding-bottom: 20px;
}

.article > a{
    background: #11698e ;
    display: inline-block;
    width: 90px;

    text-align: center;
    color: #fff;
    padding: 5px;
    text-decoration: none;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 5px;
    
}

.students{
    display: flex;
    justify-content: space-evenly;
    align-items: center ;
    height: 600px;
}

.students > img{
    width: 50%;
}

.text-students{
    margin: 0 0 0 30px;
}

.text-students h1{

}

.text-students p{
    font-weight: 300;
    margin-top: 15px;
    color: #19456b;
    text-align: justify;
}

.text-students a{
    display: inline-block;
    margin: 28px 0 0 0;
    background: #11698e;
    width: 130px;
    text-align: center;
    color:#fff;
    padding: 10px;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow:  0 2px 15px #11698e;
    
    /*margin:auto*/
}

.admissions{
    background: #11698e;
    padding-top: 30px;
}

.content-admissions{
    display: flex;
    justify-content: space-evenly;
}

.types{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.types .type{
    width: 45%;
    background:rgba(255, 255, 255, .2);
    color: #fff;
    border-radius: 10px;
    padding: 40px 35px;
    margin-bottom: 20px;
}

.types .type h4{
    color: #f2f5fc;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 20px;
}

.types .type p{
    color: #f2f5fc;
    font-weight: 300;
}

.admissions-text{
    width: 40%;
    padding-right: 45px;
}

.admissions-text h4{
    color: #fff;
    font-size: 40px;
}

.admissions-text p{
    color:#FFF;
    font-weight: 300;
    text-align: justify;
    margin: 20px 0;
}

.admissions-text a{
    color:#fff;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #fff;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    border-radius: 5px;
}

.tutorials{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

.tutorials > img{
    width: 50%;
}

.box-videos{
    margin: 30px 30px 0 0;
}

.box-videos h4{
    font-size: 25px;
    background: #f2f2f2;
    width: 350px;
    border-radius: 6px;
    padding: 10px 0 10px 15px;
    margin-bottom: 10px;
    border:1px solid rgba(59, 130, 161, 0.116);
    cursor: pointer;
}

.box-videos h4:hover{
    box-shadow:  0 2px 5px rgba(0, 0, 0, 0.3);
}

.box-videos i{
    color: #16c79a;
    font-size: 25px;
}

footer{
    background: #f2f2f2;
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}
.partFooter{
    width: 20%;
    text-align: center;
}

.partFooter img{
    width: 70%;
}

.partFooter h4{
    color:#19456b;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}

.partFooter a{
    display: block;
    text-decoration: none;
    color: #5d6678;
    font-weight: 300;
    transition: color .3s ease-in-out;
    margin-bottom: 10px;
}

.partFooter a:hover{
    color:#16c79a
}

.social-media i{
    font-size: 20px;
    display: inline-block;
    color: #5d6678;
    border:1px solid #5d6678;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 38px;
    margin-top: 20px;
    text-align: center;
    transition: all ease-in-out .3s;
    margin-right: 5px;
    cursor: pointer;
}

.social-media i:hover{
    color:#fff;
    background-color: #16c79a;
    border-color: #16c79a;
}