
@media screen and (max-width:800px){
    .container-about-us{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text-header h1{
        font-size: 50px;
    }

    .text-header h2{
        font-size: 20px;
    }

    .image-about-us{
        width: 95%;
        margin-bottom: 60px;
    }

    .about-us .content-text{
        width: 95%;
    }

    .gallery-market{
        width: 45%;
    }

    #wave{
        height: initial;
        margin-bottom: -15px;
    }

    
    .cards .card{
        width: 90%;
    }
    .service-all{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .service{
        width: 80%;
    }

    .service:nth-child(1), .service:nth-child(2){
        margin-bottom: 50px;
    }
}

@media screen and (max-width:500px){
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav > a{
        margin-right: 15px;
    }

    .text-header h1{
        font-size: 30px;
    }

    .text-header h2{
        font-size: 15px;
    }
    #wave{
        height: initial;
        margin-bottom: -15px;
    }

    .gallery-market{
        width: 95%;
    }

    .container-footer{
        flex-direction: column;
    }

    .content-footer{
        margin-bottom: 25px;
    }

    .content-footer h4{
        border:none;
        padding-bottom: 0;
        margin-bottom: 0;
    }
}