*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.title{
    font-size: 30px;
    color:#45415e;
    text-align: center;
    margin-bottom: 60px;
    text-transform: uppercase;
}

header{
    width: 100%;
    height: 850px;

    background: #5D4157;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2b4251b3, hsl(8deg 69% 19% / 56%)),url(../images/portada2.jpg);;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2b4251b3, hsl(8deg 69% 19% / 56%)),url(../images/portada2.jpg);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    background-size: cover;
    background-attachment: fixed;
    position: relative;

}

nav{
    text-align: right;
    padding: 30px 50px 0 0 ;
}

nav > a{
    color:#fff;
    font-weight: bold;
    text-decoration: none;
    margin-right: 55px;
}

nav > a:hover{
    text-decoration: underline;
}

#wave{
    width: 100%;
    bottom: 0;
    position: absolute;
    height: 275px;
    overflow: hidden;
}

.text-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 150px;
}

.text-header h1{
    font-size: 80px;
    font-weight: 400;
    color: #fff;
}

.text-header h2{
    font-size: 30px;
    font-weight: 400;
    color: #fff;
}

.container-about-us{
    display: flex;
    justify-content: space-evenly;
}

.image-about-us{
    width: 45%;
    border-radius: 10%;
    box-shadow:  0 0 6px 0 rgba(0,0,0, 0.5);
}

.about-us .content-text{
    width: 45%;
}

.content-text h3{
    margin-bottom: 25px;
}

.content-text h3 span{
    background: #2b4251;
    color:#fff;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    padding: 2px;
    box-shadow:  0 0 6px 0 rgba(0,0,0, 0.5);
    margin-right: 7px;
}

.content-text p{
    padding: 0px 0px 30px 30px;
    text-align: justify;
    font-weight: 300;
}

.markets {
    background-color:hsl(255deg 100% 90% / 50%);
}

.gallery{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.gallery-market{
    width: 24%;
    height: 200px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow:  0 0 6px 0 rgba(0,0,0, 0.5);
}

.image-gallery{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-gallery{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: hsl(231deg 55% 32% / 64%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform:scale(0);
    transition:  transform .5s;
}

.hover-gallery > img{
    width: 70px;
}

.hover-gallery > p{
    color: #fff;
    margin-top: 25px;
}

.gallery-market:hover .hover-gallery{
    transform: scale(1);
}


.cards{
    display: flex;   
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cards .card{
    background-color: royalblue;
    display: flex;
    width: 45%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.cards .card img{
    width: 100px;
    height: 100px;
    border:3px solid #fff;
    border-radius: 50%;
    display: block;
    object-fit: cover;
}

.cards .card > .content-text-card{
    width: 60%;
    color: #fff;
}

.cards .card > .content-text-card p{
    font-weight: 300;
    padding-top:10px ;
}

.about-services{
    background-color:hsl(255deg 100% 90% / 50%);
}

.service-all{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.service{
    width: 30%;
    text-align: center;
    margin-left: 10px;
}

.service img{
    width: 90%;
    height: 200px;
}

.service h3{
    margin: 20px 0;
    font-weight: bold;
}

.service p{
    font-weight: 300;
    text-align: justify;
}

footer{
    background:#5e5e7e;
    padding: 60px 0 30px 0;
    margin: auto;
}

.container-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-footer{
    text-align: center;
    color:#fff;
}

.content-footer h4{
    border-bottom: 3px solid #fff;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.final-title{
    text-align: center;
    font-size: 24px;
    margin: 24px 0 0 0;
    color: #fff;
}